body {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    font-family: 'Comfortaa';
    background-color: $background;
    color: $dark-color;
}

img {
    width: 90px;
}