.game {
    width: 300px;
    height: 550px;
    display: grid;
    grid-template-rows: 20% 15% 15% 50%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;
}

.score {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: $border-base;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: $big-font;
}

.points {
    font-size: 30px;
    text-align: center;
    display: none;
}

.button {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid $main-color;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Comfortaa';
    font-weight: $medium-font;
    transition: transform .2s ease-in, background .2s ease-in;
    outline: none;
    color: $dark-color;

    &:hover {
        background-color: $main-color;
        box-shadow: $shadow-base;
    }

    &:active {
        transition: transform .05s ease-in;
        transform: scale(0.9);
    }
}

.time {
    width: 200px;
    height: 200px;
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid $green;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}