.game {
    margin-top: 10px;
    width: 30vw;
    height: 200px;
    display: grid;
    grid-template-rows: 30% 30% 30%;
    grid-gap: 10px;
    align-items: center;
    justify-content: center;

    @include laptop {
        margin-top: 0;
        grid-template-rows: 20% 15% 15% 50%;
        height: 550px;
    }
}

.score {
    height: 40px;
    width: 50vw;
    border-radius: 20px;
    border: $border-base;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: $big-font;
    font-size: $font-size-medium;
    margin-left: auto;
    margin-right: auto;

    // @include tablet {
    //     font-size: $font-size-big;
    // }

    @include tablet {
        width: 40vw;
        height: 50px;
        font-size: $font-size-big;
    }

    @include laptop {
        // width: 300px;
        width: 25vw;
        height: 50px;
        font-size: $font-size-big;
    }
}

.rounds {
    font-size: $font-size-medium;
    text-align: center;
    display: none;
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: left;
    left: 0;

    @include laptop {
        font-size: $font-size-big;
        margin-right: auto;
        margin-left: auto;
    }
}

.button {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid $main-color;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Comfortaa';
    font-weight: $medium-font;
    transition: transform .2s ease-in, background .2s ease-in;
    outline: none;
    color: $dark-color;
    width: 200px;
    height: 50px;

    &:hover {
        background-color: $main-color;
        box-shadow: $shadow-base;
    }

    &:active {
        transition: transform .05s ease-in;
        transform: scale(0.9);
    }
}

.time {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 2px solid $green;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    grid-column-start: 1;
    grid-row-start: 2;
    width: 50px;
    height: 50px;
    margin-right: 0;

    @include tablet {
        width: 70px;
        height: 70px;
        font-size: $font-size-big;
    }

    @include laptop {
        grid-column-start: 1;
        grid-row-start: 4;
        width: 200px;
        height: 200px;
        font-size: 100px;
        margin-right: auto;
        margin-left: auto;
    }
}