.lightbox__content {
    width: 400px;
    height: 300px;
    background-color: $dark-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: $light-color;
    font-size: $font-size-big;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    button {
        color: $light-color;
    }
}

.winner {
    padding: 30px;
}