.lightbox__content--start {
    width: 70vw;
    height: auto;
    background-color: $dark-color;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $light-color;

    @include laptop {
        width: 60vw;
    }
}

.start__content {
    display: flex;
    flex-direction: column;
    font-weight: $medium-font;

    button {
        color: $light-color;
    }

    div {
        padding: 30px;
        display: flex;
        align-items: center;
        font-size: $font-size-medium;
        justify-content: center;

        @include tablet {
            font-size: $font-size-big;
        }
    }

    .input {
        height: 30px;
        width: 20%;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 2px solid $light-color;
        color: $light-color;
        margin-left: 20px;
        font-size: $font-size-medium;
        text-align: center;

        @include tablet {
            font-size: $font-size-big;
        }
    }
}

.rules {
    font-size: $font-size-small;
    font-weight: $small-font;

    @include tablet {
        font-size: $font-size-medium;
    }

    span {
        font-weight: $medium-font;
    }
}

.buttonContainer {
    display: flex;
    justify-content: space-around;

    button {
        width: 30vw;
        font-size: $font-size-small;
        margin-left: 10px;
        margin-right: 10px;

        @include tablet {
            width: 40%;
            font-size: $font-size-medium;
        }
    }
}