.game
    .game__score
        span#userScore 0
        span -- 
        span#machineScore 0
    span#roundsContainer.game__rounds Round: 
        span#currentRoundHTML 
    button#start.button Start
    span#time.game__time 3