#userContainer.player.player__user
        #slectedUser.selected.selected__user
            img(src="", alt="")#imgSelectedUser.imgSelected
        #options.options
            .option.option__rock
                img(src="assets/img/rock.svg", alt="Rock")#rock
            .option.option__paper
                img(src="assets/img/paper.svg", alt="Paper")#paper
            .option.option__scissors
                img(src="assets/img/scissors.svg", alt="Scissors")#scissors

include game

#machineContainer.player.player__machine
        #selectedMachine.selected.selected__machine
            img(src="", alt="")#imgSelectedMachine.imgSelected
        .options
            .option.option__rock
                img(src="assets/img/rock.svg", alt="Rock")
            .option.option__paper
                img(src="assets/img/paper.svg", alt="Paper")
            .option.option__scissors
                img(src="assets/img/scissors.svg", alt="scissors")