#scoreModal.lightbox
    .lightbox__content
        #final-score.lightbox__content--text.score
            span#finalScoreUser
            span  --  
            span#finalScoreMachine
        span#winner.lightbox__text.winner
        button#restart.button Restart