#scoreModal.lightbox
    .lightbox__content
        #final-score
            span#finalScoreUser
            span  --  
            span#finalScoreMachine
        span#winner.winner
        button#restart.button Restart