.game
    .score
        span#user.score__value.score__value__machine 0
        span -- 
        span#machine.score__value.score__value__machine 0
    span#round.round Round: 0
    button#button.button Iniciar
    span#time.time 3