.game
    .score
        span#userScore.score__value.score__value__machine 0
        span -- 
        span#machineScore.score__value.score__value__machine 0
    span#round.round Round: 0
    button#start.button Start
    span#time.time 3