.player.player__user
        #slectedUser.selected.selected__user
        .options
            #rock.option.option__rock
                img(src="assets/img/rockSelect.png", alt="Rock")
            #paper.option.option__paper
                img(src="assets/img/paperSelect.png", alt="Paper")
            #scissors.option.option__scissors
                img(src="assets/img/paperSelect.png", alt="scissors")

include game

.player.player__machine
        #selectedMachine.selected.selected__machine
        .options
            #rock.option.option__rock
                img(src="assets/img/rockSelect.png", alt="Rock")
            #paper.option.option__paper
                img(src="assets/img/paperSelect.png", alt="Paper")
            #scissors.option.option__scissors
                img(src="assets/img/scissorSelect.png", alt="scissors")