#userContainer.player.player__user
        #slectedUser.selected.selected__user
            img(src="", alt="")#imgSelectedUser.imgSelected
        .options
            #rock.option.option__rock
                img(src="assets/img/rockSelect.png", alt="Rock")
            #paper.option.option__paper
                img(src="assets/img/paperSelect.png", alt="Paper")
            #scissors.option.option__scissors
                img(src="assets/img/scissorSelect.png", alt="Scissors")

include game

#machineContainer.player.player__machine
        #selectedMachine.selected.selected__machine
            img(src="", alt="")#imgSelectedMachine.imgSelected
        .options
            .option.option__rock
                img(src="assets/img/rockSelect.png", alt="Rock")
            .option.option__paper
                img(src="assets/img/paperSelect.png", alt="Paper")
            .option.option__scissors
                img(src="assets/img/scissorSelect.png", alt="scissors")