#startModal.lightbox
    .lightbox__content--start
        .advice 
            span Advice: 
            br
            br
            | You have 3 seconds to choose one of the options (rock, paper or scissors), if you don't choose any you going to lose your turn and the machine will win.
            br
            br
            | You can only choose after of pressing the "Continue" button, if you don't choose before the time expires you will lose your turn and the machine will win
            br
            br
            | The winner will be the player with the most points.

        form(name="form")
            .start__content
                div
                    | Points to win: 
                    input(type="number" name="rounds" value="3" min="1" required)#roundsInput.input 
                .buttonContainer
                    button#cancel.button Cancel
                    button#startConfirm.button Let's Go!!
