.player {
    border: $border-base;
    display: grid;
    border-radius: 40px;
    grid-template-columns: 70% 30%;
    height: 40vh;
    align-items: center;
    width: 95%;
    height: 200px;
    padding-right: 10px;
    background-color: $background;

    @include tablet {
        width: 70%;
    }

    @include laptop {
        width: 30vw;
        height: 80vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 65% 35%;
        grid-gap: 10px;
        padding-right: 0;
    }

    &__user {
        .option {
            cursor: pointer;

            &:hover {
                box-shadow: $shadow-base;
                transform: translateY(-5px);
            }

            &:active {
                transition: transform .05s ease-in;
                transform: scale(.9) translateY(-5px);
            }
        }
    }

    &__machine {
        margin-top: 20px;

        @include laptop {
            margin-top: 0;
        }
    }
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    @include laptop {
        flex-direction: row;
    }

    .option {
        // background-color: transparent;
        margin-top: 10px;
        border-radius: 10px;
        border: $border-base;
        transition: transform .3s ease-in-out, box-shadow .3s ease-in;
        width: 60%;
        display: flex;
        justify-content: center;
        height: 40px;

        img {
            width: 100%;

            @include laptop {
                width: 90px;
            }
        }

        @include laptop {
            height: 120px;
            margin-top: 0;
            border-radius: 20px;
            width: auto;
        }
    }
}

.selected {
    margin: 20px;
    border-radius: 20px;
    border: $border-base;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    padding: 10px;

    @include laptop {
        // height: 200px;
        height: 80%;
    }

    .imgSelected {
        width: 120px;

        @include laptop {
            width: 300px;
        }
    }
}

.focus {
    background-color: transparentize($color: $green, $amount: .5);
    transform: translateY(-5px);
    box-shadow: $shadow-base;
}

.winning {
    box-shadow: 0px 0px 45px 2px $green;
}

.global-tie {
    box-shadow: 0px 0px 45px 2px $yellow;
}

.win {
    border: 3px solid $green;
}

.lose {
    border: 3px solid $red;
}

.tie {
    border: 3px solid $yellow;
}