.lightbox__content {
    width: 70vw;
    height: 300px;
    background-color: $dark-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    color: $light-color;
    font-size: $font-size-big;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 2000;

    @include tablet {
        width: 55vw;
    }

    @include laptop {
        width: 40vw;
    }

    button {
        color: $light-color;
    }
}

.winner {
    padding: 30px;
    text-align: center;
}